name: Generate Changelog

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  changelog:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install git-cliff
        run: |
          curl -sSL https://github.com/orhun/git-cliff/releases/latest/download/git-cliff-linux-amd64 \
          -o git-cliff
          chmod +x git-cliff
          sudo mv git-cliff /usr/local/bin/

      - name: Generate CHANGELOG.md
        run: git-cliff --config .github/cliff.toml -o CHANGELOG.md

      - name: Commit changelog
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add CHANGELOG.md
          git commit -m "docs: update changelog" || echo "No changes"
          git push
